---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

$base00: #1e1e2e; // base
$base01: #181825; // mantle
$base02: #313244; // surface0
$base03: #45475a; // surface1
$base04: #585b70; // surface2
$base05: #cdd6f4; // text
$base06: #f5e0dc; // rosewater
$base07: #b4befe; // lavender
$base08: #f38ba8; // red
$base09: #fab387; // peach
$base0a: #f9e2af; // yellow
$base0b: #a6e3a1; // green
$base0c: #94e2d5; // teal
$base0d: #89b4fa; // blue
$base0e: #cba6f7; // mauve
$base0f: #f2cdcd; // flamingo

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
